{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

<div class="log-in">
  <div class="logo-image">
    <img src="themes/react_example_theme/images/logo1.png"
 
      alt="Descriptive text" />
  </div>

  <div class="login-container">
    <h3>
      Log In
    </h3>
    <p>
      Continue to Defender CRM
    </p>
    <form {{ attributes }} style="text-align: center">
      {{ children }}
    </form>
  </div>
</div>
